.title h2{
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    font-family: Poppins,sans-serif;
    line-height: 1.4074;
    margin: 0 0 15px;
}
.title span{
    color: rgba(198,201,216,.75);
    font-family: Poppins,sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}