@import '../common/styles/sass/variables.scss';

.header {
    position: fixed;
    top: 0;
    display: block;
    z-index: 9999;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: $backgroundMainColor;

    @media screen and (max-width: 760px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
    }
}