@import '../common/styles/sass/variables.scss';

.header {
    position: fixed;
    top: 0;
    display: block;
    z-index: 1;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: $backgroundMainColor;

    @media screen and (max-width: 820px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;



    }
}