@import '../common/styles/sass/variables.scss';

.headerBlock {
    //height: 200px;
    position: fixed;
    top: 0;
    display: block;
    z-index: 9999;
    width: 100%;

    .header {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $backgroundMainColor;

        @media screen and (max-width: 760px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }
}