.contactsBlock {
    min-height: 40vh;
    background-color: rgb(169, 204, 155);
}
.contactsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.title {
    width: 100%;
    background-color: rgb(255, 177, 104);
    color: rgb(29, 28, 56);
    font-size:larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode'
}

.form {
    width: 280px;
    background-color: rgb(118, 201, 204);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.button {
    height: 40px;
    width: 70px;
    font-weight: 700;
    color: rgb(213, 230, 255);
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(43, 99, 57);
    box-shadow: 0 -3px rgb(34, 34, 33) inset;
    transition: 0.2s;
    border-radius: 10px;
    } 

.button:hover {
    background: rgb(79, 148, 79);
    }

.button:active {
    background: rgb(142, 189, 135);
    box-shadow: 0 3px rgb(33, 34, 34) inset;
    }
