.hideMeBlock {
    min-height: 100vh;
    background: #101010;
}

.hideMeContainer {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.contacts {
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-bottom: 20px;
}

.foto {
    width: 300px;
    height: 400px;
    background-color: beige;
}
