@import '../common/styles/sass/variables.scss';

.hireMeBlock {
    min-height: 100vh;
    background: $backgroundSecondColor;

    .hireMeContainer {
        min-height: 70vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        @media screen and (max-width: 1450px) {
            justify-content: center;
            flex-direction: column;
    }

        .hireMeArea {
            flex-direction: column;
            justify-content: center;
            text-align: left;
        }

        .titleHireMe {
            white-space: pre-wrap;
            margin-bottom: 30px;
        }

        .foto {
            width: 400px;
            height: 500px;
            background-color: beige;
            @media screen and (max-width: 1450px) {
               margin-top: 30px;
        }
            
        }
    }
}