@import '../../styles/sass/variables.scss';

.title {
    display: flex;
    flex-direction: column;
    align-items: center;   
    font-family: 'Poppins',sans-serif;
}

.title h2{
    line-height: 1.4074;
    font-size: 60px;
    color: $titleColor;
    font-weight: 700;
    margin: 0 0 15px;
    margin-bottom: 8px;
}

.title span{
    padding-top: 10px;
    color: $descriptionColor;
    font-weight: 300;
    font-size: 18px;
}