@import '../../common/styles/sass/variables.scss';

.burgerNav {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;

    .burgerNavItems {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        list-style: none;
        background-color: $backgroundMainColor;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        height: 0;
        padding: 26px;
        transform: translate(0, -200px);
        transition: 0.7s;
        a {
            font-family: 'Poppins', sans-serif;
            color: $titleColor;
            font-size: 16px;
            text-decoration: none;
            font-weight: 500;
            text-align: left;

            &:hover {
                text-decoration: none;
                color: $primeryColor;
                cursor: pointer;
            }
        }

        .active {
            color: $primeryColor;
        }


    }

    .show {
        transform: translate(0, 0);
        height: 200px;
    }

    .burgerBtn {
        width: 30px;
        height: 30px;
        background-color: $primeryColor;
        position: absolute;
        top: 24px;
        right: 32px;
    }

    @media screen and (min-width: 420px) {
        display: none;
    }

    .logo {
        height: 55px;
        width: 55px;
    }


}