@import '../../common/styles/sass/variables.scss';

.burgerNav {
    background-color: antiquewhite;
    position: relative;
    width: 100%;
    height: 100%;
    .burgerNavItems {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        background-color: rgb(218, 248, 187);
        flex-wrap: nowrap;
        position: absolute;
        right: 0;
        top: 50px;
        display: none;
        a {
            font-family: 'Poppins', sans-serif;
            color: $titleColor;
            font-size: 16px;
            text-decoration: none;
            font-weight: 500;
            padding: 20px 0;
            line-height: 1.71429;
            text-align: left;
            
            &:hover {
                text-decoration: none;
                color: $primeryColor;
                cursor: pointer;
            }
        }
        .active {
            color: $primeryColor;
        }


    }
    .burgerBtn {
        width: 30px;
        height: 30px;
        background-color: $primeryColor;
        position: absolute;
        top: 24px;
        right: 30px;
    }
    @media screen and (min-width: 420px) {
        display: none;
    }

    .logo {
        height: 55px;
        width: 55px;
    }


}