.skillsBlock {
    min-height: 100vh;
    background-color: #816969;
   
    
}
.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    
}
.title {
    background-color: rgba(255, 246, 234, 0.795);
}
.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    flex-wrap: wrap;
}
