@import '../common/styles/sass/variables.scss';

.skillsBlock {
    min-height: 100vh;
    background-color: $backgroundSecondColor;

    .skillsContainer {
        flex-direction: column;
        justify-content: flex-start;

        .skills {
            width: 80%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            font-size: 14px;
            line-height: 1.71429;
            font-family: $fontFamily;
            color: $backgroundDescriptionColor;
            margin-right: -15px;
            margin-left: -15px;
            font-weight: 400;
            text-align: left;
        }
    }
}