.mainBlock {
    height: 100vh;
    background-color: black;
    flex-wrap: wrap;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0px;
}

.greetings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.greetings span {
    border: solid 1px coral;
    color: rgba(198, 201, 216, .75);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
    line-height: 1.71429;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

.greetings h1 {
    border: solid 1px coral;
    color: #fff;
    font-size: 75px;
    font-weight: 900;
    font-family: Montserrat, sans-serif;
    line-height: 90px;
    margin: 0px;
}

.greetings h2 {
    border: solid 1px coral;
    margin: 0px;
    font-size: 75px;
    font-weight: 900;
    font-family: Montserrat, sans-serif;
    line-height: 90px;
    color: #f9004d;
}

.greetings p {
    border: solid 1px coral;
    margin: 0 0 15px;
    font-size: 54px;
    font-weight: 700;
    font-family: Poppins,sans-serif;
    line-height: 1.4074;
    color: #fff;
}

.foto {
    border: solid 1px coral;
    width: 300px;
    height: 400px;
    background-color: beige;
}