.mainBlock {
    height: 100vh;
    background-color: rgb(206, 197, 209);
    flex-wrap: wrap;
}

.greetings {
width: 400px;
background-color: beige;
}

.foto {
    width: 300px;
    height: 400px;
background-color: beige;
}