.mainBlock {
    height: 100vh;
    background-color: #464444;
    flex-wrap: wrap;
}

.greetings {
    width: 1300px;
    background-color: beige;
    text-align: start;
}
.greetings span{
    color: rgba(198,201,216,.75);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 20px;
    text-align: left !important;
    line-height: 1.71429;
    font-family: Poppins,sans-serif;
    font-weight: 400;
}
.greetings h1{
    color: #fff;
    font-size: 75px;
    font-weight: 900;
    font-family: Montserrat,sans-serif;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
    margin: 0px;
    text-align: left !important;
}
.greetings p{
    margin: 0px;
    font-size: 75px;
    font-weight: 900;
    font-family: Montserrat,sans-serif;
    line-height: 90px;
    text-transform: inherit;
    text-align: left !important;
    color: #dc3545;
}

.foto {
    width: 300px;
    height: 400px;
    background-color: beige;
}
