.project {
    width: 400px;
    background: #191919;
    text-align: left;
    .image {
        border-radius: 5px;
        height: 250px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.5s;
        &:hover {
            border-radius: 5px;
            height: 250px;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transform: scale(1.05);
            transition: 0.5s;
        }
    }
    .projectTitle {
        font-size: 24px;
        line-height: 36px;
        color: #fff;
        font-weight: 600;
        font-family: 'Poppins',sans-serif;
    } 
    .description {
        color: #c6c9d8;
        font-size: 14px;
        line-height: 30px;
        margin: 0 0 15px;
        font-family: 'Poppins',sans-serif;
        font-weight: 400;
    }
}




