@import '../../common//styles//sass//mixins.scss';
@import '../../common/styles/sass/variables.scss';

.projectContainer {
    width: 400px;
    background: $backgroundDescriptionColor;
    border-radius: 10px;

    .image {
        @include projetsImage ();

        &:hover {
            @include projetsImage ();
            transform: scale(1.05);
        }
    }

    .project {
        text-align: left;
        padding: 15px;

        .projectTitle {
            font-size: 24px;
            line-height: 36px;
            color: $titleColor;
            font-weight: 600;
            font-family: $fontFamily;
        }

        .description {
            color: $descriptionColor;
            font-size: 14px;
            line-height: 30px;
            font-family: $fontFamily;
            font-weight: 400;
        }
    }
}