@import '../common/styles/sass/variables.scss';

.nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    a {
        font-family: 'Poppins', sans-serif;
        color: $titleColor;
        font-size: 16px;
        text-decoration: none;
        font-weight: 500;
        padding: 20px 0;
        line-height: 1.71429;
        text-align: left;
        
        &:hover {
            text-decoration: none;
            color: $primeryColor;
            
        }
    }
    .active {
        color: $primeryColor;
    }
    .logo {
        height: 55px;
        width: 55px;
    }

}