.nav {
    border: 1px solid;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.logo {
    height: 55px;
    width: 55px;
}

.nav a {
    font-family: Poppins,sans-serif;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0;
    text-decoration: none;
    line-height: 1.71429;
    text-align: left;
}

.nav a:hover {
	color: #F46119;
   background: rgba(244, 97, 25, 0.05);

}