$titleColor: #fff;
$descriptionColor: rgba(198, 201, 216, .75);
$primeryColor: #f9004d;
$backgroundMainColor: black;
$backgroundSecondColor: #101010;
$backgroundDescriptionColor: #191919;
$fontFamily: 'Poppins', sans-serif;