.footerBlock {
    min-height: 15vh;
    background-color: black;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.copyright {
    padding-top: 10px;
    font-family: Poppins, sans-serif;
    color: #c6c9d8;
    opacity: .75;
    margin-bottom: 0;
    line-height: 30px;
}