.footerBlock {
    height: 30vh;
    background-color: rgb(248, 212, 192);
}
.footerContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.title {
width: 300px;
background-color: rgb(104, 182, 255);
color: rgb(29, 28, 56);
font-size:larger;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.messengersBlock {
    height: 80px;
    width: 600px;
    background-color: rgb(225, 253, 206);
    display: flex;
    
    justify-content: space-between;
}
.messenger {
    height: 80px;
    width: 80px;
    background-color: rgb(78, 80, 77);
}
.button {
    height: 60px;
    width: 120px;
    font-weight: 700;
    color: rgb(213, 230, 255);
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(43, 99, 57);
    box-shadow: 0 -3px rgb(34, 34, 33) inset;
    transition: 0.2s;
    border-radius: 10px;
    } 
.button:hover {
    background: rgb(79, 148, 79);
    }
.button:active {
    background: rgb(142, 189, 135);
    box-shadow: 0 3px rgb(33, 34, 34) inset;
    }
